<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Chavez Gonzalo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Garcia Karen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos/alumno">Liberos Angel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Lopez Luis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Piña Cristopher</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Trujillo Misael</a>
  </li>
</ul>
